@import url('css/variables.css');
@import url('css/fonts.css');
@import url('css/quill.base.css');
@import url('css/quill.custom.css');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--main-background-color);
	color: var(--text-color);
	font-family: var(--display-font-family);
	font-size: var(--font-size);
    line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6 {
	margin: .5em 0 .25em;
}

h1 {
	font-size: 1.9em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

strong {
	font-family: 'VenrynSansBlack', serif;
}

blockquote {
	border-left: .3rem solid;
	padding-left: .5rem !important;
}

a {
	color: rgb(0, 159, 255);
	text-decoration: underline;
}

a:hover {
	color: rgb(0,100,200);
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 2px;
	outline: none;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

pre, code {
	font-family: var(--monospace-font-family);
}

pre, pre.ql-syntax {
    padding: .5em;
    background-color: rgba(255,255,255,0.1);
    margin: 0.5em 0;
	white-space: pre-wrap;
	word-break: break-all;
	overflow: auto;
	border-radius: .3rem;
}

.layout-toolbar button {
    box-sizing: content-box;
    border: 0 none;
    border-radius: var(--radius);
    margin: 0;
    padding: 0 var(--pad);

    line-height: var(--size);
    height: var(--size);
    min-width: 1ex;
    flex-shrink: 0;
    inline-size: max-content;
    text-align: center;

    background-color: #444444;
    color: rgb(211, 211, 211);
    cursor: pointer;
}

.layout-toolbar button[data-prefix]::before {
    content: attr(data-prefix);
    display: inline-block;
    vertical-align: top;
    line-height: var(--size);
    height: var(--size);
    padding: 0 var(--pad) 0 0;
}

.layout-toolbar button.active {
    background-color: rgb(107, 107, 107) !important;
}

.layout-toolbar button:hover {
    background-color: #505050;
}

.layout-toolbar .divider {
    margin: .2em;
    border-left: 1px solid;
    opacity: 0.15;
}

.layout-toolbar .toolbar-text {
    --svg-size: 1em;

    white-space: nowrap;
    padding: 0 var(--spacing);
    text-transform: uppercase;
    font-size: 0.85em;
}

svg {
    display: inline-block;
    vertical-align: baseline;
    width: var(--svg-size);
    height: var(--svg-size);
}

.filled-star svg {
    --color: gold;
    stroke: var(--color);
    fill: var(--color);
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: var(--text-color-hover);
}