/*
 * Toolbar
 */

.layout-toolbar button.ql-active {
    background-color: rgb(107, 107, 107) !important;
}

.layout-toolbar button svg {
    height: var(--size);
}

.layout-toolbar button .ql-stroke {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.25;
}

.layout-toolbar button .ql-stroke-miter {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 1.25;
}

.layout-toolbar button .ql-fill,
.layout-toolbar button .ql-stroke.ql-fill {
    fill: #fff;
}

.layout-toolbar button .ql-empty {
    fill: none;
}

.layout-toolbar button .ql-even {
    fill-rule: evenodd;
}

.layout-toolbar button .ql-thin,
.layout-toolbar button .ql-stroke.ql-thin {
    stroke-width: 1;
}

.layout-toolbar button .ql-transparent {
    opacity: 0.4;
}

.layout-toolbar button .ql-direction svg:last-child {
    display: none;
}

.layout-toolbar button .ql-direction.ql-active svg:last-child {
    display: inline;
}

.layout-toolbar button .ql-direction.ql-active svg:first-child {
    display: none;
}
