:root {
    --main-background-color: #222;
    --text-color: #fff;

    --display-font-family: 'VenrynSansMedium', serif;
    --monospace-font-family: 'InconsolataLGCMarkupRegular', monospace;

    --padding: 1rem;
}